body {
    background-color: rgb(0, 0, 0); 
    margin: 0;
}

#canvas {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    background-size: cover;
    min-width: 0;
    max-height:max-content;
    position: absolute;
    overflow-y: hidden;
    border: 0px solid white
}